<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div id="wrap">
    <script type="text/javascript">
        var epiq = {
            userId: "",
            isLogin: "N",
            resourcePath: "https://content.epiqvr.com/static/prod/1.6.3",
            locale: "ko_KR",
            lang: "ko",
            env: "prod",
            profilePath: ""
        }
    </script>
    <div id="comment"></div>
    <script src="/js/view.comment.js"></script>
</div>
</body>
</html>
